@mixin display($ai:center, $js:none, $gap:0px){
    display: flex;
    align-items: $ai;
    justify-content: $js;
    gap: $gap;
}

@mixin textstyle($fs, $fw, $lh, $clr, $case, $mb){
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $clr;
    text-transform: $case;
    margin-bottom: $mb;
}
@mixin btnstyle($width:400px, $p:0px, $btnfs, $btnfw, $btnlh, $btnclr, $btncase, $btnbg:$text-orange, $btnboder:transparent){
    width: $width;
    padding: $p;
    text-align: center;
    border-radius: 8px;
    background-color: $btnbg;
    border: 1px solid $btnboder;
    cursor: pointer;
    transition: 0.3s all linear;
    @include textstyle($fs:$btnfs, $fw:$btnfw, $lh:$btnlh, $clr:$btnclr, $case:$btncase, $mb:0px);
    
}